@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

*{
  font-family: 'Nunito', sans-serif;
  border: none;
  box-shadow: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.form-control:focus{
  border: 2px solid rgba(0, 129, 146, 0.329);
  outline: none;
  box-shadow: none;
}

.link {
  text-decoration: none;
}

.rd-10 {
  border-radius: 10px;
}

.fs-7{
  font-size: 14px;
}

.bold{
  font-weight: 600;
}

.blue-400 {
  color: rgb(0, 0, 182);
}

.nav-link {
  color: black;
  border: whitesmoke 1px solid;
}

.nav-link:hover {
  background-color: whitesmoke;
}

.pointer {
  cursor: pointer;
  color: rgb(97, 97, 97);
}

.pointer:hover {
  color: black;
}

